/*res
 * et 样式*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
    display: block;
    /* color:white;*/
}

img{
    border: none;
    display: block;
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
/*reset样式结束*/
body{
	background-color:darkgray;
	font-size: 12px;
	font-family: "microsoft yahei" sans-serif;
}
.container{
	width: 892px;
	height: 1386px;
	background-color: white;
	margin: 20px auto;
	padding: 0px 44px 0px 44px;
}
header{
	border-bottom: 2px solid #938e8c;
	height: 61px;
	font-family: "黑体";
}
.red-block{
	background-color: red;
	width: 110px;
	height: 61px;
	text-align: center;
	float: left;
	position: relative;
	color: #FFFFFF;
}
.red-block p{
	position:absolute;
    bottom:0px;
    padding-left:5px;
}
.date{
	float: right;
	height: 61px;
	position: relative;
	color: #d45d5c;
	padding-right: 44px;
}
.date p{
	position:absolute;
    bottom:0px;
}
.blank_1{
	height: 40px;
}
.top-left{
	background-image: url(img/page.gif);
	width: 641px;
	height: 301px;
	float: left;
}
.cover-left {
    height: 301px;
    width: 191px;
    float: left;
    background-color: #1ba750;
    opacity: 0.5;
}
.cover-right {
    height: 301px;
    width: 191px;
    float: right;
    background-color: #c31f35;
    opacity: 0.5;
}
.top-right{
	border-top: 2px solid #cc8091;
	width:203px;
	float: right;

}
.top-right-title{
	font-size: 24px;
    line-height: 40px;
    text-decoration: underline;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
.top-right-title:first-letter{
	font-size: 26px;
    font-weight: bold;
}
.top-right-under-title {
    font-size: 12px;
    color:#676767;
    line-height: 10px;
    font-family: "楷体";
}
.top-right h2 {
    font-size: 116px;
    color:#75b86b;
    font-weight: 500;
    font-style: italic;
}

.top-right .sub-title {
    font-size: 55px;
    color:#cc8091;
}

.top-right .sub-title1 {
    font-size: 21px;
    color:#cc8091;
}

.top-right .sub-title2 {
    font-size: 12px;
    color: #cc8091;
}

.top-right .sub-title0{
    float: right;
    margin-top: -48px;
    margin-right: 30px;
}
.main-middle{
	width: 641px;
	text-align: justify; 
}
.main-middle div{
	margin-top: 40px;
	float: left;
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
	opacity: 0.7;
}
.mid-left{
	width: 200px;
	margin-right: 40px;
}
.main-middle h1{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 20px;
	opacity: 1.0;
}
.mid-mid{
	width: 180px;
	margin-right: 40px;
}
.mid-right{
	width: 170px;
	margin-right: 0px;
}
.main-middle ul {
    padding-top: 20px;
    font-size: 12px;
    line-height: 1.8;
    list-style: none;
}

.main-middle li {
    color:#231815;
}

.main-middle li span {
    color:#cd4a48;
    font-style:italic;
}
.main-bottom{
	clear: both;

}
.bottom-left{
	width: 415px;
	float: left;
	margin-right: 10px;
}
.bottom-left h1{
	font-size: 42px;
    color:#11456b;
    font-family: "黑体";
}
.bottom-left h1 span{
    font-size: 72px;
    color:#f5e327;
    font-style: italic;
    font-family: "黑体";
}
.bottom-left h2{
	font-size: 33px;
    color:#11456b;
    border-bottom:2px solid #11456B;
    font-family: "黑体";
    margin-bottom: 10px;
}
.bottom-left p{
	text-align: justify;
	line-height: 16px;
	font-family: "宋体";
}
.bottom-left p img{
	float: right;
	margin: 20px 0px 20px 20px;
}
.second-sentence{
	text-indent: 2em;
}
#first-sentence:first-letter{
	font-size: 70px;
    line-height: 1;
    color:#f5e327;
    float: left;
    padding-right: 5px;
}
.bottom-right{
	float: right;
	width: 458px;
}
.bottom-cover-left{
	background-image: url(img/img3.png);
	width: 458px;
	height: 275px;
	background-size: cover;
	position: relative;
}
.bot-cover-left{
	position: absolute;
    margin-top:214px;
    width: 458px;
    height: 61px;
    background-color: rgba(0,0,60,0.4); 
   
}
.bot-cover-left p{
	border-left:3px solid #72b16a ;
	height: 44px;
	margin-top:10px;
	margin-left:40px;
	font-size: 26px;
	color: #ffffff;
	padding-left: 20px;
}
.bot-cover-left p span{
	font-size: 12px;
	color: #72B16A;
	font-style: italic;
	padding-left: 4px;
	word-spacing: 16px;
}
.bottom-bottom {
    height:318px;
    width: 459px;
    background-color: #f4eed6;
    margin-top: 15px;
}

.bottom-bottom  ul {
    line-height: 36px;
    color: #5a5b5b;
    list-style: square inside url("img/list.png");
    margin-left: 30px;
    padding-top: 30px;
}

.bottom-bottom  ul li span {
    font-style: italic;
    font-size: 12px;
}

.last-block2 {
    width: 260px;
    height:160px;
    background-color: #f36968;
    margin-top:17px;
    position: relative;
}

.last-block2 h1 {
    font-size: 110px;
    display: inline-block;
    border-right:2px #ffffff solid;
    font-weight: 400;
    color: #ffffff;
    line-height:86px;
    margin-top: 37px;
    margin-left: 8px;
    padding-right: 4px;
    clear: both;
}

.last-block2 .last-p {
    float: right;
    color:#fff;
    top:37px;
    position: relative;
    left:-8px;
}

.last-block2 .last-p h4 {
    font-style: oblique;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Adobe 黑体 Std R";
}

.last-block2 .last-p p {
    font-size: 12px;
    font-family: "Adobe 黑体 Std R";
}

.last-p2 {
    float: right;
    width: 170px;
    margin-top: -140px;
    margin-right: 10px;
}

.sentence1 {
    font-size: 14px;
    color:#5a5b5b;
    line-height: 16px;
    font-style: italic;
    display: inline;
}

.last-p2 h3:first-child {
    color: #f36968;
    font-size: 72px;
    float: left;
    line-height: 18px;
    letter-spacing: 5px;

}

.last-p2 h3:last-child {
    color: #f36968;
    font-size: 72px;
    float: right;
    line-height: 56px;
    letter-spacing: 25px;
}	
footer{
    width: 892px;
    margin-top: 40px;
    border-top: 1px solid #938e8c;
    clear: both;
    float: left;
}

footer p{
    font-size: 12px;
    color:#d45d5c;
    padding-top: 2px;
    text-align: end;
}